rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      // WARNING: These rules are for testing only. Change them before going to production
      allow read, write: if true;
    }
  }
} 